/*Header*/
h1{
	color: DeepPink;
	text-align: center;
	font-size: 68px;
	font-family: Courier New
	
}

/*page background*/
html{
	background-color: Aquamarine;
}

/*About Me*/
#aboutme{
	color: DeepPink;
	text-align: center;
	font-size: 24px;
	font-family: Georgia
}

/* p {
    border: 1px solid black;
    outline: 5px dashed red;
} */
p {
	border-style: double;
	color: blue
}
